

@media (max-width:40em) {
  .yes {
    display: grid;
    grid-template-areas:
      "head head head"
      "nav nav nav"
      "main main main"
      "foot foot foot";
  }

  header {
    grid-area: head;
    display: none
  }

  nav {
    display: block
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: foot;
  }
}
