@import 'helpers/mediaquery';

.recipe-container-button {
  background: green;
  color: yellow;
  border: none;
  @include media-query(50em) {
    display: none
  }
}

.recipe-input-button {
  background: brown;
  border: none;
  color: white;
  margin-right: .3em
}
.recipe-input-button:focus {
  background: green
}

// .popup-button {
//   position: fixed;
//   background:red;
//   top: 20%;
//   right: 10%;
//   border: none;
//   color: white;

// }

button {
  cursor: pointer;
}

