@import 'helpers/mediaquery';

.homepage-book-cards-img {
  max-height: 40vw;
}

.image-collection-card:hover {
  opacity: 0.6
}

.popup-screen-filter {
  background: gray;
  opacity: 0.4;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}

.popup-picture {
  position: fixed;
  display: grid;
  margin: auto;
  opacity: 1;
  left: 0;
  right: 0;
  top: 25%;
  max-width: 100%;
  z-index:2;
  @include media-query(30em) {
    top: 20%
  }
}