
nav {
  background: green
}

.ingredientcontainer {
  display: grid;
  grid-template: 1fr/ repeat(4, 1fr);
}



@media (min-width: 30em) {
  .ingredientcontainer {
    grid-template: 1fr/ repeat(6, 1fr);
  }
}

@media (min-width: 50em) {
  .ingredientcontainer {
    grid-template: 1fr/ repeat(8, 1fr);
  }
}
